<h4>Lista de Avisos de Saida</h4>
<br>
{{>_saidaUserCard}}

<br>
<a href="/saidas/{{previousPage}}" class="btn btn-primary">Anterior</a>
<a href="/saidas/{{nextPage}}" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>
