{{>_passeSaidaAdminCard}}
<br>
<a href="/admin/passeSaida/{{previousPage}}" class="btn btn-primary">Anterior</a>
<a href="/admin/passeSaida/{{nextPage}}" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>
