<h4>Lista de Avisos de Entrada</h4>
<br>
{{#each avisoEntradas}}
    <div class="card mt-4">
        <div class="card-body">
            <h6>Despacho: {{entradaNprocesso}}</h6>
            <span>Data: {{entradaDataPedido}}</span>
            <a href="/formulario/formulario/avisoEntradavizu/{{_id}}"><button class="btn btn-success mt-3">Visualizar</button></a>
        </div>
    </div>
{{else}}
<h6>Nenhum Aviso de Entrada</h6>
{{/each}}