<div class="card">
    <div class="card-body">
        <a href="/admin/listaUsers"><button class="btn btn-primary">Usuarios</button></a>
        <a href="/admin/listaForms"><button class="btn btn-primary">Formularios</button></a>

    </div>
</div>