<br>
<h4 class="text-center">Painel Administrativo</h4>
<br>
{{#each usuarios}}
<h6>Operador: {{nome}}</h6>
{{else}}
<span>Operador: Erro interno ao mostrar operador</span>
{{/each}}
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="row justify-content-around">

    <div class="card mt-4" style="max-width: 15rem">
    <a href="/admin/avisos" style="text-decoration:none">
    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
        <img src="/img/alto-falante.svg" class="img-fluid rounded-center"  alt="...">
        <h6 class="mt-4">Avisos</h6>
    </div>
    </a>
    </div>


    <div class="card mt-4" style="max-width: 15rem">
    <a href="/admin/listaUsers" style="text-decoration:none">
    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
        <img src="/img/user.svg" class="img-fluid rounded-center"  alt="...">
        <h6 class="mt-4">Usuarios</h6>
    </div>
    </a>
    </div>


    <div class="card mt-4" style="max-width: 15rem">
    <a href="/admin/listaDespacho" style="text-decoration:none">
    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
        <img src="/img/despacho.svg" class="img-fluid rounded-center"  alt="...">
        <h6 class="mt-4">Despachos</h6>
    </div>
    </a>
    </div>


    <div class="card mt-4" style="max-width: 15rem">
    <a href="/admin/listaAvisoEntrada" style="text-decoration:none">
    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
        <img src="/img/docEntrada.svg" class="img-fluid rounded-center"  alt="...">
        <h6 class="mt-4">Avisos Entrada</h6>
    </div>
    </a>
    </div>


    <div class="card mt-4" style="max-width: 15rem">
    <a href="/admin/listaAvisoSaida" style="text-decoration:none">
    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
        <img src="/img/docSaida.svg" class="img-fluid rounded-center"  alt="...">
        <h6 class="mt-4">Avisos Saída</h6>
    </div>
    </a>
    </div>

        </div>
    </div>
</div>









