
<br>
<div style="display: flex; justify-content: inline">
    <div class="card mt-4">
        <div class="card-body">
            <a href="/admin/avisos"><button class="btn btn-primary mt-4">Avisos</button></a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <a href="/admin/listaUsers"><button class="btn btn-primary mt-4">Usuarios</button></a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <a href="/admin/listaForms"><button class="btn btn-primary mt-4">Formularios</button></a>
        </div>
    </div>
</div>