<div class="container">
    <br>
    <h2 class="text-center">Painel Relatórios</h2>
    <hr>
    <br>
    <a class="btn btn-primary" href="relatorioSaidas">Gerar novo relatório</a>
    <a class="btn btn-primary" href="/admin/relatorios">Últimos relatórios</a>
</div>