<h3 class="text-center">Relatório: {{relatorios.relatorioDataString}}</h3>
<br>

<div class="card m-4" style="width: 50rem;">
    <div class="card-body ">
        <canvas id="grafico"></canvas>
    </div>
</div>

<div class="card m-4" style="width: 50rem;">
    <div class="card-body ">
        <canvas id="grafico2"></canvas>
    </div>
</div>
<a class="btn btn-primary" href="/admin/relatorios">Relatórios</a>

{{>_grafico}}