
<footer style="color: white" class="bd-footer py-4 py-md-5 mt-5 bg-secondary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-primary">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 text-body-secondary text-decoration-none" href="/" aria-label="Bootstrap">
          <span class="fs-5">CFPN</span>
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2">Uma navegação segura e de qualidade</li>
          
        </ul>
      </div>
    </div>
  </div>
</footer>
