
<ul class="nav nav-pills nav-fill bg-dark">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Início</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/edFluvial">Ed. Fluvial</a>
  </li>
  {{#if user}}

  {{#ifAgencia user}}
  <li class="nav-item">
    <a class="nav-link" href="/formulario">Painel Agencia</a>
  </li>
  {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/formulario">Painel Despachante</a>
  </li>
  {{/ifAgencia}}
  <li class="nav-item">
    <a class="nav-link" href="/usuarios/perfil">Minha conta</a>
  </li>
     {{#ifAdmin user}}
      <li class="nav-item">
          <a class="nav-link" href="/admin/painel">Painel ADM</a>
      </li>
    {{/ifAdmin}}
    <li class="nav-item">
    <a class="nav-link" href="/usuarios/logout">Sair</a>
  </li>
  {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/usuarios/login">Login</a>
  </li>
  {{/if}}

</ul>
