
<style>
  .custom-nav {
    font-size: 1.5rem;
    color: white; 
    border-bottom: 4px solid white; 
    height: 60px; 
    position: relative;
  }

  .notification-badge {
    position: absolute;
    background-color: rgb(24, 34, 170);
    color: white;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 0.8rem;
  }
</style>


<ul class="nav nav-pills nav-fill bg-dark custom-nav">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Início</a>
  </li>
{{#if user}}
  {{#ifAdmin user}}
    <li class="nav-item">
        <a class="nav-link" href="/admin/painel">Painel ADM<span class="notification-badge mt-1 mx-1">{{notificado}}</span></a>
    </li>
      {{/ifAdmin}}
      {{#ifAgencia user}}
      <li class="nav-item">
        <a class="nav-link" href="/formulario">Painel Agência</a>
      </li>
      {{/ifAgencia}}
      {{#ifDespachante user}}
      <li class="nav-item">
        <a class="nav-link" href="/formulario">Painel Despachante</a>
      </li>
      {{/ifDespachante}}
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/perfil">Minha conta</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/usuarios/logout">Sair</a>
      </li>
      {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/usuarios/login">Login</a>
  </li>
 {{/if}}
</ul>
