
<style>
  .custom-nav {
    font-size: 1.5rem;
    color: white; /* Altera a cor do texto para branco */
    border-bottom: 4px solid white; /* Aumenta a grossura da barra de navegação */
    height: 60px; /* Ajusta a altura da barra de navegação */
  }
</style>


<ul class="nav nav-pills nav-fill bg-dark custom-nav">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Início</a>
  </li>
{{#if user}}
  {{#ifAdmin user}}
    <li class="nav-item">
        <a class="nav-link" href="/admin/painel">Painel ADM</a>
    </li>
      {{/ifAdmin}}
      {{#ifAgencia user}}
      <li class="nav-item">
        <a class="nav-link" href="/formulario">Painel Agência</a>
      </li>
      {{/ifAgencia}}
      {{#ifDespachante user}}
      <li class="nav-item">
        <a class="nav-link" href="/formulario">Painel Despachante</a>
      </li>
      {{/ifDespachante}}
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/perfil">Minha conta</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/usuarios/logout">Sair</a>
      </li>
      {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/usuarios/login">Login</a>
  </li>
 {{/if}}
</ul>
