<div class="m-4">
<div id="tripulantes">
    <script>
        var divCounter = 0
            function addInputSelect(divName) {
            var newdiv = document.createElement('div');
            var divId = "div" + divCounter
            newdiv.setAttribute('id', divId)
            newdiv.innerHTML = '<select name="tripulante" class="form-select"><option id="emBranco" value="emBranco">Em Branco</option>{{#each tripulantes}}<option id="tripulante" value="{{_id}}">{{tripulanteNome}} / {{tripulanteNCIR}}</option>{{/each}}</select><label class="input-group-text">Função</label><input name="tripulanteFuncao" class="form-control" type="text" required><button class="btn btn-danger btn-sm mb-4" style="float: end" type="button" onclick="deleteBranco(\'' + divId + '\')">Excluir</button>';                            
            document.getElementById(divName).appendChild(newdiv);
            document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
            var submiteButton = document.getElementById('submitButton')
            submiteButton.disabled = true
            divCounter++;
            document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')

            }

            function deleteBranco(divId){
                tripulantesArray = []
                var emBranco = document.getElementById(divId)
                emBranco.remove()
                document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                var submiteButton = document.getElementById('submitButton')
                submiteButton.disabled = true
                document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
            }

            addInputSelect('lines');

            function getIdTripulantes(){
            
            var submiteButton = document.getElementById('submitButton')
            submiteButton.disabled = false

            var tripulantesArray = []
            var tripulantesFuncaoArray = []

            var tripulantesIds = document.querySelectorAll("[name='tripulante']")
            var pegarTripulantesFuncao = document.querySelectorAll("[name='tripulanteFuncao']")
                        for (var i = 0; i < tripulantesIds.length; i++) {
                            if(tripulantesIds[i].value == 'emBranco'){
                                var submiteButton = document.getElementById('submitButton')
                                submiteButton.disabled = true
                                
                            }
                    tripulantesArray.push(tripulantesIds[i].value)
                    document.getElementById('tripulantesArrayIds').setAttribute('value', `${tripulantesArray}`)
                    tripulantesFuncaoArray.push(pegarTripulantesFuncao[i].value)
                    document.getElementById('tripulantesArrayFuncao').setAttribute('value', `${tripulantesFuncaoArray}`)

                }
                if(tripulantesArray.length == 0 ){
                    var submiteButton = document.getElementById('submitButton')
                    submiteButton.disabled = true
                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                }
                if(tripulantesArray.find(el => el == 'emBranco')){
                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                }else{
                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-success bg-opacity-50 border-success')
                }
                console.log(tripulantesArray)
            
                
            }
            function deleteTripulante(id){
                var submiteButton = document.getElementById('submitButton')
                submiteButton.disabled = true
                tripulantesArray = []
                document.getElementById(id).remove()
                document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
            }                
        </script>
    </div>
    <input value="" id="tripulantesArrayIds" name="documentTripulantes" hidden>
    <input value="" id="tripulantesArrayFuncao" name="documentTripulantesFuncao" hidden>
    <button class="btn btn-primary mb-4" type="button" onclick="addInputSelect('tripulantes')">Adicionar Ip</button>
    <button class="btn btn-success" type="button" onclick="getIdTripulantes()" style="float: right">Fechar Relação</button>
</div>
