<h3>Comboios</h3>

{{#each comboios}}
<div class="card">
    <div class="card-body">
        <label>Nome do Comboio: {{comboioNome}}</label>
        <a class="btn btn-warning float-end" href="/admin/comboiosValidate/{{_id}}">Editar</a>
        <a class="btn btn-primary float-end" href="/formulario/comboiosVizu/{{_id}}">Visualizar</a>
    </div>
</div>
{{else}}
<h5>Nenhum comboio cadastrado</h5>
{{/each}}