<br>
<h2 class="text-center mb-4">AVISO DE ENTRADA – NAVEGAÇÃO INTERIOR</h2>
<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" action="avisoEntrada" method="POST">
            <input type="hidden" name="usuarioID" value="%= req.user._id %">
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">N° Pocesso de Despacho</label>
                    <input name="entradaNprocesso" class="form-control" type="text">
                </div>
                <div>
                    <h4 class="text-center">Dados da Estadia</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de chegada</label>
                        <input name="entradaPortoChegada" class="form-control" type="text">
                        <label class="input-group-text">Data/Hora de chegada</label>
                        <input name="entradaDataHoraChegada" class="form-control" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Posição no Porto Atual</label>
                        <input name="entradaPosicaoPortoAtual" class="form-control" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Origem</label>
                        <input name="entradaPortoOrigem" class="form-control" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Destino</label>
                        <input name="entradaPortoDestino" class="form-control" type="text">
                        <label class="input-group-text">Data/Hora Estimada de Saída para Porto de destino</label>
                        <input name="entradaDataHoraEstimadaSaida" class="form-control" type="text">
                    </div>
                    <h4 class="text-center">Dados do Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome</label>
                        <input name="entradaNomeRepresentanteEmbarcacao" class="form-control" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">CPF/CNPJ</label>
                        <input name="entradaCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text">
                        <label class="input-group-text">Telefone</label>
                        <input name="entradaTelefoneRepresentanteEmbarcacao" class="form-control" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Endereço</label>
                        <input name="entradaEnderecoRepresentanteEmbarcacao" class="form-control" type="text">
                        <label class="input-group-text">Email</label>
                        <input name="entradaEmailRepresentanteEmbarcacao" class="form-control" type="text">
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Informações Complementares</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Dados da Ultima Inspeção Naval</label>
                        <input name="entradaDadosUltimaInpecaoNaval" class="form-control" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Deficiências a serem retificadas neste porto?</label>
                        <input name="entradaDeficienciasRetificadasPorto" class="form-control" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Transporte de Carga Perigosa</label>
                        <input name="entradaTransporteCagaPerigosa" class="form-control" type="text">
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Observações</h4>
                    <div class="input-group mb-3">
                        <textarea name="entradaObservacoes" class="form-control" type="text"></textarea>
                    </div>
                </div>
                <div>
                    <div id="tripulantes" class="card bg-secondary">
                        <h4 class="text-center">Lista de Tripulantes</h4>
                        <script>
                        var tripulantes = 1;
                        function addInputtripulantes(divName) {
                        var newdiv = document.createElement('div');
                        newdiv.innerHTML  = 'Tripulantes : ['+tripulantes +']';
                        newdiv.innerHTML += '<label class="input-group-text">Nome completo</label>'
                        newdiv.innerHTML += '<input name="entradaTripulantesNome" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">Grau ou Função</label>'
                        newdiv.innerHTML += '<input name="entradaTripulantesGrauFuncao" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">Data de nascimento</label>'
                        newdiv.innerHTML += '<input name="entradaTripulantesDataNascimento" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">N° da CIR</label>'
                        newdiv.innerHTML += '<input name="entradaTipulantesNCIR" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">Validade da CIR</label>'
                        newdiv.innerHTML += '<input name="entradaTripulantesValidadeCIR" class="form-control" type="text">'

                        document.getElementById(divName).appendChild(newdiv);
                        tripulantes++;
                        }

                        addInputtripulantes('lines');
                        </script>
                    </div>
                    <button class="btn btn-primary" type="button" onclick="addInputtripulantes('tripulantes')">Adicioanar tripulante</button>
                </div>
                <div>
                    <div id="passageiros" class="card bg-secondary">
                        <h4 class="text-center">Lista de Passageiros</h4>
                        <script>
                            var passageiros = 1;
                        function addInputpassageiros(divName) {
                        var newdiv = document.createElement('div');
                        newdiv.innerHTML  = 'Passageiros : ['+passageiros +']';
                        newdiv.innerHTML += '<label class="input-group-text">Nome completo</label>'
                        newdiv.innerHTML += '<input name="entradaPassageirosNome" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">Data de nascimento</label>'
                        newdiv.innerHTML += '<input name="entradaPassageirosDataNascimento" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">Sexo</label>'
                        newdiv.innerHTML += '<input name="entradaPassageirosSexo" class="form-control" type="text">'

                        document.getElementById(divName).appendChild(newdiv);
                        passageiros++;
                        }

                        addInputpassageiros('lines');

                        </script>
                        </div>
                        <button class="btn btn-primary" type="button" onclick="addInputpassageiros('passageiros')">Adicioanar passageiro</button>
                    </div>
                    <div>
                    <div id="comboios" class="card bg-secondary">
                        <h4 class="text-center">Lista de Comboios</h4>
                        <script>
                            var comboios = 1;
                        function addInputcomboios(divName) {
                        var newdiv = document.createElement('div');
                        newdiv.innerHTML  = 'Comboios : ['+comboios +']';
                        newdiv.innerHTML += '<label class="input-group-text">Nome da embarcação</label>'
                        newdiv.innerHTML += '<input name="entradaComboiosNome" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">N° de inscrição</label>'
                        newdiv.innerHTML += '<input name="entradaComboiosNIncricao" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">Arqueação bruta</label>'
                        newdiv.innerHTML += '<input name="entradaComboiosArqueacaoBruta" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">carga</label>'
                        newdiv.innerHTML += '<input name="entradaComboiosCarga" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">quantidade e unidade de carga</label>'
                        newdiv.innerHTML += '<input name="entradaComboiosQuantidadeCarga" class="form-control" type="text">'

                        document.getElementById(divName).appendChild(newdiv);
                        comboios++;
                        }

                        addInputcomboios('lines');

                        </script>
                    </div>
                    <button class="btn btn-primary" type="button" onclick="addInputcomboios('comboios')">Adicioanar comboio</button>
                    </div>
                <div>
                    <label class="input-group-text">Estou ciente de que responderei administrativa, 
                        civil e penalmente pelos 
                        eventuais dados incorretos constantes da presente declaração</label>
                </div>
                <div>
                    <select name="embarcacao" class="form-select">
                        {{#each embarcacoes}}
                            <option value="{{_id}}">{{embarcacaoNome}}</option>
                        {{else}}
                            <option value="0">Nenhuma embarcação cadastrada</option>
                        {{/each}}
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-success" required>Enviar</button>
        </form>
    </div>
</div>