<h4>Lista de Avisos de Entrada</h4>
<br>
{{>_entradaUserCard}}

<br>
<a href="/formulario" class="btn btn-primary">Formulários</a>
<a href="/entradas/2" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>