<h4>Lista de Avisos de Entrada</h4>
<br>
{{>_entradaUserCard}}

<br>
<br>
<a href="/entradas/{{previousPage}}" class="btn btn-primary">Anterior</a>
<a href="/entradas/{{nextPage}}" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>