<h4>Lista de Despachos</h4>
<br>
{{>_despachoAdminCard}}
<br>
<a href="/admin/despachos/{{previousPage}}" class="btn btn-primary">Anterior</a>
<a href="/admin/despachos/{{nextPage}}" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>

