<div class="informacoes">
		
		<table id="tabela_primaria" class="table table-responsive-md">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Nivel</th>
					<th>Ultima Atualização</th>
					<th>Fonte</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="nome_cuiaba">Carregando</td>
					<td id="nivel_cuiaba">Carregando</td>
					<td id="att_cuiaba">Carregando</td>
					<td id="fonte_cuiaba">Carregando</td>
				</tr>
				<tr>
					<td id="nome_caceres">Carregando</td>
					<td id="nivel_caceres">Carregando</td>
					<td id="att_caceres">Carregando</td>
					<td id="fonte_caceres">Carregando</td>
				</tr>
				<tr>
					<td id="nome_ladario">Carregando</td>
					<td id="nivel_ladario">Carregando</td>
					<td id="att_ladario">Carregando</td>
					<td id="fonte_ladario">Carregando</td>
				</tr>
				<tr>
					<td id="nome_fcoimbra">Carregando</td>
					<td id="nivel_fcoimbra">Carregando</td>
					<td id="att_fcoimbra">Carregando</td>
					<td id="fonte_fcoimbra">Carregando</td>
				</tr>
				<tr>
					<td id="nome_pmurtinho">Carregando</td>
					<td id="nivel_pmurtinho">Carregando</td>
					<td id="att_pmurtinho">Carregando</td>
					<td id="fonte_pmurtinho">Carregando</td>
				</tr>
			</tbody>
		</table>
		
		
	</div>

		<div class="">
			<canvas id="{{canvasId}}" touch-action="none"></canvas>
		</div>
            <script src="/func/rioParaguai.js"></script>
            <script src="func/mNiveis.js"></script>
