<br>
<h2 class="text-center mb-4">CADASTRO DE TRIPULANTE</h2>
<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" action="addTripulante" method="POST">
            <input type="hidden" name="usuarioID" value="%= req.user._id %">
                <div class="input-group mb-3">

                    <label class="input-group-text">Nome completo</label>
                    <input name="tripulanteNome" class="form-control" type="text">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Grau ou Função</label>
                    <input name="tripulanteGrau" class="form-control" type="text">
                    <label class="input-group-text">Data de nascimento</label>
                    <input name="tripulanteDataNascimento" class="form-control" type="text">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">N° da CIR</label>
                    <input name="tripulanteNCIR" class="form-control" type="text">
                    <label class="input-group-text">Validade da CIR</label>
                    <input name="tripulanteValidadeCIR" class="form-control" type="text">
                </div>
            <button type="submit" class="btn btn-success" required>Enviar</button>
        </form>
    </div>
</div>
