<br>
<h2 class="text-center mb-4">AVISO DE ENTRADA – NAVEGAÇÃO INTERIOR</h2>
<div class="card">
    <div class="card-body">
        <form>
            <input type="hidden" name="usuarioID" value="%= req.user._id %">
                <div>
                    <label>N° Pocesso de Despacho</label>
                    <input>
                </div>
                <div>
                    <h4>Dados da Estadia</h4>
                    <div>
                        <label>Porto de chegada</label>
                        <input>
                        <label>Data/Hora de chegada</label>
                    </div>
                    <div>
                        <label>Posição no Porto Atual</label>
                        <input>
                    </div>
                    <div>
                        <label>Porto de Origem</label>
                        <input>
                    </div>
                    <div>
                        <label>Porto de Destino</label>
                        <input>
                        <label>Data/Hora Estimada de Saída para Porto de destino</label>
                        <input>
                    </div>
                <div>
                    <h4>Dados da Embarcação</h4>
                        <div>
                            <label>Nome da Embarcação</label>
                            <input>
                            <label>Tipo da Embarcação</label>
                            <input>
                        </div>
                        <div>
                            <label>Bandeira</label>
                            <input>
                            <label>N° Inscrição na Autoridade Marítima do Brasil</label>
                            <input>
                        </div>
                        <div>
                            <label>Arqueação Buta</label>
                            <input>
                            <label>Tonelagem Porte Bruto</label>
                            <input>
                        </div>
                </div>
                    <h4>Dados do Representante da Embarcação</h4>
                    <div>
                        <label>Nome</label>
                        <input>
                    </div>
                    <div>
                        <label>CPF/CNPJ</label>
                        <input>
                        <label>Telefone</label>
                        <input>
                    </div>
                    <div>
                        <label>Endereço</label>
                        <input>
                        <label>Email</label>
                        <input>
                    </div>
                </div>
                <div>
                    <h4>Indormações Complementares</h4>
                    <div>
                        <label>Dados da Ultima Inspeção Naval</label>
                        <input>
                    </div>
                    <div>
                        <label>Deficiências a serem retificadas neste porto?</label>
                        <input>
                    </div>
                    <div>
                        <label>Transporte de Carga Perigosa</label>
                        <input>
                    </div>
                </div>
                <div>
                    <h4>Observações</h4>
                    <div>
                        <input>
                    </div>
                </div>
                <div>
                    <h4>Lista de Tripulantes</h4>
                    ////////////////////
                </div>
                <div>
                    <h4>Lista de Passageiros</h4>
                    ///////////////////
                </div>
                <div>
                    <h4>Comboios</h4>
                    //////////////////
                </div>
                <div>
                    <label>Estou ciente de que responderei administrativa, 
                        civil e penalmente pelos 
                        eventuais dados incorretos constantes da presente declaração</label>
                </div>

        </form>
    </div>
</div>