{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<br>
<br>
<div class="card"> 
        <div class="text-center">
             <h2 class="label-control mt-4">Formulário de despache de embarcações</h2>
        </div>
    <div class="card-body">
        <form action="formulario/novo" method="POST">
            <div class="mb-3">
                <input type="hidden" name="idUsuario" value="%= req.user._id %">
                <label for="nome" class="input-group-text mt-4">Nome: </label>
                <input type="text" class="form-control" name="nome" placeholder="Seu nome" required>
                <div id="nomeDica" class="form-text">Insira o nome do responsável pela embarcação.</div>
            </div>
            <div class="mb-3">
                <label for="email" class="input-group-text mt-4">Email: </label>
                <input type="email" class="form-control" name="email" placeholder="exemplo@mail.com" required>
                <div id="nomeDica" class="form-text">Insira seu e-mail.</div>
            </div>
            <div class="mb-3">
                <label for="codigo" class="input-group-text mt-4">Código: </label>
                <input type="number" class="form-control" name="codigo" placeholder="00000-00" required>
                <div id="nomeDica" class="form-text">Insira o código embarcação.</div>
            </div>
            <div class="input-group mb-3" style="">
                <label for="dsaida" class="input-group-text mt-4">Data de saída: </label>
                <input type="date" class="form-control mt-4" name="dsaida" required>
                <label for="dvolta" class="input-group-text mt-4">Data de Volta: </label>
                <input type="date" class="form-control mt-4" name="dvolta" required>
            </div>
            <div class="mb-3 form-check">
                <label class="form-label mt-4">Estou ciente que não poderei alterar meus dados após a confirmação do formulário.</label>
                <input type="checkbox" class="form-check-input mt-4" name="checkbox" required>
                <label class="form-check-label" for="exampleCheck1">Confirmar</label>
            </div>
            <button type="submit" class="btn btn-success" required>Enviar</button>
        </form>
    </div>
</div>