<div class="card">
    <div class="card-body">
        <h3>Recomendações: </h3>
        <ul>
            <li>Confirme suas infomações antes de enviar.</li>
            <li>Não passe as suas informações pessoais para outra pessoa.</li>
            <li>confira se os seus documentos estão atualizados no banco de dados.</li>
        </ul>
    </div>
</div>