<h4>Lista de Avisos de Saida</h4>
<br>
{{>_saidaAdminCard}}
<br>
<a href="/admin/painel" class="btn btn-primary">Painel</a>
<a href="/admin/saidasPage/2" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>

