<h4>Lista de Avisos de Saida</h4>
<br>
{{>_saidaAdminCard}}
<br>
<a href="/admin/saidas/{{previousPage}}" class="btn btn-primary">Anterior</a>
<a href="/admin/saidas/{{nextPage}}" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>
