{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Atenção</h4>
  <p>Sua conta é de uso pessoal, e não deve ser compartilhada em nenhuma hipótese</p>
  <hr>
  <p class="mb-0">Para criar sua conta, adicone seu nome completo.</p>
    <p class="mb-0">adicione também um E-mail válido e de uso individual.</p>
   <p class="mb-0">Escolha uma senha, de preferencia que contenha mais de 10 caracteres.</p>
    <p class="mb-0">Pronto! Sua conta será criada em nossa plataforma.</p>
    <hr>
    <p>Caso queira conferir nossos termos de uso, clique no botão abaixo</p>
    <a href="/pages/termosUso" ><button class="btn btn-primary">Termos de uso</button></a>
</div>


<h3>Crie sua conta:</h3>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/cadastroUser" method="POST">
            <label for="nome"> Nome </label>
                <input type="text" name="nome" class="form-control" required>
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
            <label>CPF: </label>
                <input maxlength="11" type="text" name="CPF" class="form-control" required>
            <br>
                </div>
                <div class="container">
                    <div id="infosUser">
                        <span>Informações Necessárias para conta de Despachante</span>
                            <div class="input-group">
                                <label class="input-group-text">Período de contrato</label>
                                <input name="periodoContrato" class="form-control" type="date" value="">
                            </div>
                            <br>
                            <div class="input-group">
                                <label class="input-group-text">Agencia</label>
                            <select name="agencia" class="form-select" >
                                {{#each agencias}}
                                <option value="{{_id}}">
                                    {{nome}}
                                </option>
                                {{/each}}
                            </select>
                            </div>
                        <br>
                    </div>
                    <label type="senha">Senha: </label>
                        <input minlength="6" placeholder="A senha precisa ter no mínimo 6 dígitos" type="password" name="senha" class="form-control" required>
                    <label for="senha2">Repita sua senha: </label>
                        <input minlength="6" type="password" name="senha2" class="form-control" required>
                </div>
            <button type="submit" class="btn btn-success mt-4">Criar conta</button>
        </form>
    </div>
</div>
{{>_saveLocalForm}}