<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Atenção</h4>
  <p>Sua conta é de uso pessoal, e não deve ser compartilhada em nenhuma hipótese</p>
  <hr>
  <p class="mb-0">Caso tenha esquecido sua senha...</p>
    <p class="mb-0">Caso queira alterar seu email...</p>
   <p class="mb-0">Fique atento aos nossos avisos para se manter atualizado.</p>
    <p class="mb-0">Lembre-se...nunca compartilhe sua senha com terceiros.</p>
</div>


<h4>Login</h4>
<br>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
            <label for="email">Email: </label>
                <input type="email" class="form-control" name="email" required>
            <label for="senha">Senha: </label>
                <input type="password" class="form-control" name="senha" required>
            <button class="btn btn-success mt-4" type="submit">Entrar</button>
        </form>
    </div>
</div>