<h4>Lista de Avisos de Entrada</h4>
<br>
{{>_entradaAdminCard}}
<br>
<a href="/admin/painel" class="btn btn-primary">Painel</a>
<a href="/admin/entradasPage/2" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>

