<h4>Lista de Avisos de Entrada</h4>
<br>
{{>_entradaAdminCard}}
<br>
<a href="/admin/entradas/{{previousPage}}" class="btn btn-primary">Anterior</a>
<a href="/admin/entradas/{{nextPage}}" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>
