<br>
<h1 class="text-center">Itens obrigatórios para navegação.</h1>

<div>
		<canvas id="renderCanvas1" touch-action="none"></canvas>
</div>
<script src="js/edFluvial.js"></script>

<div>
	<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><table border="0" cellpadding="1" cellspacing="1" height="522" width="100%"><tbody><tr><th align="center" height="408" scope="col" valign="top" width="100%">
		<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><th class="txt rtejustify" scope="col">
										As tabelas abaixo discriminam resumidamente os itens obrigatórios para as embarcações quando empreendendo navegação interior ou navegação costeira e a dotação de extintores de incêndio, informando a sua exata localização, a quantidade e o tipo de extintor usado para embarcações com comprimento inferior a 8 m, igual ou superior a 8 m e inferior a12 m, igual ou superior a 12 m e inferior a 24 m e embarcação de esporte e/ou recreio com comprimento igual ou superior a 24m.</th>
		</tr><tr><th align="left" class="txt" scope="col">
										&nbsp;</th>
		</tr><tr><th align="left" class="txt" scope="col">
		<div align="center">
		<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 100%; border: 1.0pt solid #103E65" width="724"><tbody><tr><td style="width: 31.2pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #103E65; padding-left: 4.5pt; padding-right: 4.5pt; padding-top: 2.25pt; padding-bottom: 2.25pt; background: #CCDAE6" width="42">
		<p align="center" class="MsoNormal" style="text-align:center"><b><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">ITEM</span></b></p>
		</td>
		<td style="width: 123.2pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #103E65; padding-left: 4.5pt; padding-right: 4.5pt; padding-top: 2.25pt; padding-bottom: 2.25pt; background: #CCDAE6" width="164">
		<p align="center" class="MsoNormal" style="text-align:center"><b><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">DISCRIMINAÇÃO</span></b></p>
		</td>
		<td style="width: 63.05pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #103E65; padding-left: 4.5pt; padding-right: 4.5pt; padding-top: 2.25pt; padding-bottom: 2.25pt; background: #CCDAE6" width="84">
		<p align="center" class="MsoNormal" style="text-align:center"><b><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">REFERÊNCIA</span></b></p>
		</td>
		<td style="width: 169.05pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #103E65; padding-left: 4.5pt; padding-right: 4.5pt; padding-top: 2.25pt; padding-bottom: 2.25pt; background: #CCDAE6" width="225">
		<p align="center" class="MsoNormal" style="text-align:center"><b><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">EMBARCAÇÕES DE MÉDIO PORTE</span></b></p>
		</td>
		<td style="width: 156.5pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #103E65; padding-left: 4.5pt; padding-right: 4.5pt; padding-top: 2.25pt; padding-bottom: 2.25pt; background: #CCDAE6" width="209">
		<p align="center" class="MsoNormal" style="text-align:center"><b><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">IATES</span></b></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">01</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">AGULHA MAGNÉTICA</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0419</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA Compensada ou curva de desvio, válido por 2 anos)</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">02</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">ÂNCORA com no mínimo 20 m de cabo ou amarra</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0418</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">03</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">APITO</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0418</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">04</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">ARTEFATOS PIROTÉCNICOS</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0417</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO 03 foguetes manuais estrela vermelha c/páraquedas; 03 fachos manuais luz vermelha; 03 sinais fumígeno flutuante laranja</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO&nbsp;&nbsp; 03 foguetes manuais estrela vemelha c/páraquedas; 03 fachos manuais luz vermelha; 03 sinais fumígeno flutuante laranja</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">05</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">BALSA SALVA-VIDAS </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0413</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">DISPENSADA</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">DISPENSADA</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">06</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">BANDEIRA NACIONAL</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0402</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">07</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">BILHETE DE SEGURO OBRIGATÓRIO - DPEM</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0206</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">08</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">BÓIA SALVA VIDAS Circular ou Ferradura</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0415</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA Emb.Menor de 12m.01 unidade. Emb.&gt;12m.02 unidades. Pelo menos uma c/retinida flutuante Todas c/dispositivo de iluminação automático</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA 02 unidades. Pelo menos uma c/retinida flutuante. Todas c/dispositivo de Iluminação automático</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">09</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">BOMBA DE ESGOTO Veja detalhes inclusive vazão mínima no item 0429</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0429</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA Emb.Menor de 12m,01 unidade; Emb.&gt;12m.01 manual e 02 elétricas ou acoplada n/motor</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA&nbsp; 03 unidades,uma delas com 09 acionamento não manual</span></p>
		</td>
		</tr><tr style="height: 38.1pt"><td style="height: 38.1pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">10</span></p>
		</td>
		<td style="height: 38.1pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">CERTIFICADO OU NOTAS DE ARQUEAÇÃO</span></p>
		</td>
		<td style="height: 38.1pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0329</span></p>
		</td>
		<td style="height: 38.1pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">DISPENSADO</span></p>
		</td>
		<td style="height: 38.1pt; border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">11</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">COLETES SALVA-VIDAS</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0414</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">12</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">EPIRB 406 MHz </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0424</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">DISPENSADO</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">13</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">EXTINTORES DE INCÊNDIO&nbsp; </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0427</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO &nbsp;(ver referência e item 0438)</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO (ver referência e item 0438)</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">14</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">GPS</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0419</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">RECOMENDADO</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO (01 unidade)</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">15</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">HABILITAÇÃO (mínima) </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0503</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">Mestre Amador</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">Mestre Amador</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">16</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">MATERIAIS E MEDICAMENTOS DE PRIMEIROS SOCORROS</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0422</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO &nbsp;(a partir de 15 ou mais pessoas a bordo)</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO (a partir de 15 ou mais pessoas a bordo)</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">17</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">QUADROS</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0421</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO (ver referência)</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO (ver referência)</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">18</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">REFLETOR RADAR</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0418</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">19</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">RADIO HF SSB</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0424</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">DISPENSADO</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">20</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">RADIO VHF</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0424</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO (fixo)</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO (fixo)</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">21</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">RADIO TRANSMISSOR RADAR (TRANSPONDER)</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0424</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">DISPENSADO </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">22</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">SINO ou BUZINA MANUAL&nbsp; </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0418</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">23</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">TERMO DE RESPONSABILIDADE </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0340</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">24</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">TÍTULO DE INSCRIÇÃO </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0202</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt; background: #CCDAE6">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIO (emb.AB igual ou maior de 100, deverão possuir PRPM)</span></p>
		</td>
		</tr><tr><td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">25 </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">VISTORIA INICIAL </span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">0333</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA (isenta caso cumpra disposto item 0333)</span></p>
		</td>
		<td style="border-left: medium none; border-right: medium none; border-top: medium none; border-bottom: 1.0pt solid #5280AB; padding: 4.5pt">
		<p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:7.5pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">OBRIGATÓRIA (isenta caso cumpra disposto item 0333)</span></p>
		</td>
		</tr></tbody></table></div>
		</th>
		</tr><tr class="txt"><th align="left" class="txt" scope="col" width="88%">
										&nbsp;</th>
		</tr><tr class="txt"><th align="left" class="txt" scope="col" width="88%">
		<p style="text-align: right"><a href="../legislacao_segu.html" target="_parent"> <img border="0" height="11" src="../images/voltar.gif" width="60"></a></p>
		</th>
		</tr><tr><th align="left" class="txt" scope="col">
										&nbsp;</th>
		</tr></tbody></table></th>
		</tr></tbody></table><p>&nbsp;</p>
		</div></div></div>
	</div>

