    <style>

        .card-img {
            display: flex;
            justify-content: center;
        }

        .card-text {
            white-space: pre-wrap;
        }

        .card-img img {
            max-width: 100%;
            height: auto;
        }
    </style>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Sobre Nós</h2>
        <div class="card border border-black border-4">
            <div class="card-body">
                <div class="card-img">
                    <img src="/img/ddddsdsdsds.jpg" alt="Imagem" class="img-fluid">
                </div>
                <hr>
                <p class="card-text">
A Capitania Fluvial do Pantanal tem o propósito de contribuir para o preparo do Poder Naval, para salvaguarda dos interesses nacionais e para a orientação, a coordenação e o controle das atividades relativas à Marinha Mercante e organizações correlatas, no que se refere à defesa nacional, à salvaguarda da vida humana, à segurança da navegação e à prevenção da poluição hídrica por parte de embarcações, na área de jurisdição do Comando do 6o Distrito Naval.                </p>
            </div>
        </div>
    </div>