    <style>

        .card-img {
            display: flex;
            justify-content: center;
        }

        .card-text {
            white-space: pre-wrap;
        }

        .card-img img {
            max-width: 100%;
            height: auto;
        }
    </style>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Sobre Nós</h2>
        <div class="card border border-black border-4">
            <div class="card-body">
                <div class="card-img">
                    <img src="/img/ddddsdsdsds.jpg" alt="Imagem" style=" max-width: 30rem" class="img-fluid">
                </div>
                <hr>
                <p class="card-text">
A Capitania Fluvial do Pantanal tem o propósito de contribuir para o preparo do Poder Naval, para salvaguarda dos interesses nacionais e para a orientação, a coordenação e o controle das atividades relativas à Marinha Mercante e organizações correlatas, no que se refere à defesa nacional, à salvaguarda da vida humana e à segurança da navegação e à prevenção da poluição hídrica por parte de embarcações, plataformas ou suas insta1ações de apoio, na área de jurisdição do Comando do 6o Distrto Naval.

Para consecução do seu propósito, cabe a Capitania Fluvial do Pantanal as seguintes tarefas:

• coordenar as atividades das Administrações dos Portos no que concerne à AM;

• promover a execução da Inspeção Naval (IN) e das vistorias e manter o pessoal subordinado e das demais organizações subordinadas da jurisdição adestrados para essas atividades;

• determinar a emissão e aprovar parecer relativo à cessão de uso de espaços físicos de corpos d´água de domínio da União para fins de aquicultura, no que concerne à segurança do tráfego aquaviário;

• promover a fiscalização da visita aos portos brasileiros ou do trânsito de navios de pesquisa estrangeiros em águas sob jurisdição nacional;

• adotar as medidas administrativas previstas na LESTA;

• instaurar procedimentos administrativos, lavrar Autos de Infração e aplicar as penalidades previstas na LESTA;

• ordenar ou providenciar a demolição de obra ou benfeitoria e a recomposição do local, quando realizadas em desacordo com as normas estabelecidas pela AM;

• determinar a obtenção dos dados e informações e a apuração das responsabilidades sobre os incidentes com embarcações, plataformas ou suas instalações de apoio que tenham provocado danos ambientais;

• promover a fiscalização das embarcações, e cargas embarcadas, de natureza nociva ou perigosa, e a autuação e aplicação das sanções aos infratores, nas situações previstas em lei, para a AM;

• intervir, junto às Administrações dos Portos, para assegurar ou garantir aos navios da Marinha do Basil (MB) a prioridade para atracação nos portos;

• atuar como Agente da AM competente para lavrar Autos de Infração previstos na LESTA, Lei de Crimes Ambientais e Lei do Óleo, vedada a subdelegação subsequente;

• cumprir e fazer cumprir a legislação, os atos, as normas, os regulamentos e os procedimentos, nacionais e internacionais, que regulam os tráfegos marítimo, fluvial e lacustre, relativos à salvaguarda da vida humana e à segurança da navegação, no mar aberto e nas hidrovias interiores, e à prevenção da poluição hídrica por parte de embarcações, plataformas ou suas instalações de apoio;

• instaurar e/ou conduzir Inquéritos Administrativos referentes aos Fatos e Acidentes de Navegação (IAFN) e Investigações de Segurança de Acidentes e Incidentes Marítimos (ISAIM), de acordo com a legislação específica em vigor;

• auxiliar o serviço de socorro e salvamento marítimo, de acordo com o determinado pelo Comando do 6º Distrito Naval e adestrando o pessoal subordinado;

• concorrer para a fiscalização e a manutenção da sinalização náutica; executar as atividades atinentes ao Ensino Profissional Marítimo (EPM), no que lhe competir, orientando também as organizações subordinadas;

• executar, quando determinado, as atividades atinentes ao Serviço Militar; apoiar o pessoal militar da MB e seus dependentes, quanto a pagamento, saúde e assistência social e, no que couber, o pessoal civil e seus dependentes, quando não competir a outra OM da MB;

• cumprir e fazer cumprir as determinações emanadas dos representantes da AM, de acordo com as competências que lhes foram delegadas;

• executar as tarefas de fiscalização necessárias à manutenção da boa ordem do tráfego aquaviário;

• seguir as orientações técnicas emanadas da Diretoria de Portos e Costas (DPC), no que se refere à Segurança do Tráfego Aquaviário (STA), ao EPM e à prevenção da poluição hídrica;

• elaborar, manter atualizadas e divulgar as Normas e Procedimentos da Capitania Fluvial (NPCF);

• manter registros atualizados das informações e características relativas aos portos, terminais e instalações portuárias; e

• em situação de conflito, crise, estado de sítio, estado de defesa e em regimes especiais, desempenhar as tarefas concernentes à mobilização e à desmobilização, que lhes forem atribuídas pelas normas e diretrizes referentes à mobilização marítima e as emanadas do Comandante do 6º Distrito Naval.            </div>
        </div>
    </div>