<h2>Sobre nós</h2>
<div class="card">
    <div class="card-body">
        <div class="card-img" style="display: flex; justify-content: center; text-align: center">
        <img style="width: 70vh" src="/img/ddddsdsdsds.jpg">
        </div>
        <hr>
        <p class="card-text" style="white-space: pre-wrap;">A Capitania Fluvial do Pantanal tem o 
            propósito de contribuir para o preparo do 
            Poder Naval, para salvaguarda dos 
            interesses nacionais e para a orientação, 
            a coordenação e o controle das atividades 
            relativas à Marinha Mercante e organizações 
            correlatas, no que se refere à defesa 
            nacional, à salvaguarda da vida humana
             e à segurança da navegação e à prevenção 
             da poluição hídrica por parte de 
             embarcações, plataformas ou suas 
             insta1ações de apoio, na área de 
             jurisdição do Comando do 6o Distrito 
             Naval.</p>
    </div>
</div>


