
<br>
<br>

<div class="countainer">
    <div class="card">
        <div class="card-body">
            <h3>Definir Comboio</h3>
                <form class="row gx-3 gy-2 align-items-center" action="despacho" method="POST">
                    <input type="hidden" name="usuarioID" value="%= req.user._id %">
                        <div>
                            <h5>Embarcaçoes</h5>
                            <br>
                                <div id="selecaoComboio">
                                    <div class="container">
                                        <div>
                                            <div id="comboios">
                                                <script>
                                                var divCounter = 0
                                                    function addInputSelect(divName) {
                                                    var newdiv = document.createElement('div');
                                                    var divId = "div" + divCounter
                                                    newdiv.setAttribute('id', divId)
                                                    newdiv.innerHTML = '<select name="comboio" class="btn-group"><option id="emBranco" value="emBranco">Em Branco</option>{{#each embarcacoes}}<option id="comboio" value="{{_id}}">{{embarcacaoNome}}</option>{{/each}}</select><button class="btn btn-danger btn-sm m-4" style="float: end" type="button" onclick="deleteBranco(\'' + divId + '\')">Excluir</button>';                            
                                                    document.getElementById(divName).appendChild(newdiv);
                                                    document.getElementById('selecaoComboio').setAttribute('class', 'bg')
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = true
                                                    divCounter++;
                                                    document.getElementById('selecaoComboio').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')

                                                    }

                                                    function deleteBranco(divId){
                                                        comboiosArray = []
                                                        var emBranco = document.getElementById(divId)
                                                        emBranco.remove()
                                                        document.getElementById('selecaoComboio').setAttribute('class', 'bg')
                                                        var submiteButton = document.getElementById('submitButton')
                                                        submiteButton.disabled = true
                                                        document.getElementById('selecaoComboio').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                    }

                                                    addInputSelect('lines');

                                                    function getIdcomboios(){
                                                    
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = false

                                                    var comboiosArray = []

                                                    var comboiosIds = document.querySelectorAll("[name='comboio']")
                                                                for (var i = 0; i < comboiosIds.length; i++) {
                                                                    if(comboiosIds[i].value == 'emBranco'){
                                                                        var submiteButton = document.getElementById('submitButton')
                                                                        submiteButton.disabled = true
                                                                        
                                                                    }
                                                            comboiosArray.push(comboiosIds[i].value)
                                                            document.getElementById('comboiosArrayIds').setAttribute('value', `${comboiosArray}`)
                                                        }
                                                        if(comboiosArray.length == 0 ){
                                                            var submiteButton = document.getElementById('submitButton')
                                                            submiteButton.disabled = true
                                                            document.getElementById('selecaoComboio').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                        }
                                                        if(comboiosArray.find(el => el == 'emBranco')){
                                                            document.getElementById('selecaoComboio').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                        }else{
                                                            document.getElementById('selecaoComboio').setAttribute('class', 'form-control bg-success bg-opacity-50 border-success')
                                                        }
                                                        console.log(comboiosArray)
                                                    
                                                        
                                                    }
                                                    function deletecomboio(id){
                                                        var submiteButton = document.getElementById('submitButton')
                                                        submiteButton.disabled = true
                                                        comboiosArray = []
                                                        document.getElementById(id).remove()
                                                        document.getElementById('selecaoComboio').setAttribute('class', 'bg')
                                                        document.getElementById('selecaoComboio').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                    }
                                                                        
                                                </script>
                                            </div>
                                            <input value="" id="comboiosArrayIds" name="despachocomboios" hidden>
                                            <button class="btn btn-primary mb-4" type="button" onclick="addInputSelect('comboios')">Adicionar embarcaçao</button>
                                            
                                            <button class="btn btn-success" type="button" onclick="getIdcomboios()" style="float: right">Fechar Relação</button>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    <button type="submit" id="submitButton" class="btn btn-success" disabled>Enviar</button>
                </form>
        </div>
    </div>
</div>
